.choices {
  margin: 8.2rem auto 2rem;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 40% 40%;
  width: 100%;
  background-position: center;
  background-size: contain;
  max-width: 470px;

  & > div {
    &:nth-child(1) {
      transform: scale(1.4) translateX(10px) translateY(16px);
    }

    &:nth-child(2) {
      transform: scale(1.4) translateX(-10px) translateY(16px);
      grid-column: 3/4;
    }

    &:nth-child(3) {
      transform: scale(1.4) translateY(6px) translateY(9px);
      grid-row: 3/4;
      grid-column: 2/3;
    }
  }
}

@media screen and (max-width: 500px) {
  .choices {
    margin: 8.9rem auto 5.5rem;
  }
}
